body {
    padding: 0;
    margin: 0;
}

#map {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}

#logoAirCarto img {
    position: fixed;
    height: 60px;
    left: 0px;
    margin: 0px;
    border-radius: 0px;
}


#div_buttonPM {
    position: fixed;
    right: 390px;
    top: 15px;
}


#div_button_choixCapteur {
    position: fixed;
    right: 190px;
    top: 15px;
}

#div_button_monNebuleAir {
    position: fixed;
    right: 40px;
    top: 15px;
}

.leaflet-popup-content {
    width: 600px;
}