body {
    padding: 0;
    margin: 0;
}

#map {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}

#logoAirCarto img {
    position: fixed;
    height: 60px;
    left: 0px;
    margin: 0px;
    border-radius: 0px;
}


#div_buttonPM {
    position: fixed;
    right: 390px;
    top: 15px;
}


#div_button_choixCapteur {
    position: fixed;
    right: 190px;
    top: 15px;
}

#div_button_monNebuleAir {
    position: fixed;
    right: 40px;
    top: 15px;
}

#div_button_seuils {
    position: fixed;
    right: 600px;
    top: 15px;
}

#button_horloge {
    position: fixed;
    left: 20px;
    bottom: 15px;
}


#btn_bon {
    background-color: #4FF0E6;
    color: black;
}
#btn_moyen {
    background-color: #51CCAA;
    color: black;
}
#btn_degrade {
    background-color: #EDE663;
    color: black;
}
#btn_mauvais {
    background-color: #ED5E58;
    color: white;
}
#btn_tres_mauvais {
    background-color: #881B33;
    color: white;
}
#btn_extr_mauvais {
    background-color: #74287D;
    color: white;
}
.leaflet-popup-content {
    width: 600px;
}